
  
  .nav-pills .nav-link {
    color: #ffffff; /* Inactive link color */
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for color changes */
  }
  
  .nav-pills .nav-link.active {
    color: white; /* Active link color */
    background-color: pink; /* Background color for the active link */
  }
  
  .nav-pills .nav-link:hover {
    color: white; /* Hover link color */
    background-color: #444; /* Background color on hover */
  }
  