.product-image {
  object-fit: contain;
  width: 100%;
  height: 140px;
}

.product-card {
  border-radius: 15px;
  background: hsla(0, 0%, 100%, 0.5); /* Fully transparent background */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.product-name, .product-description {
  word-wrap: break-word;
}
